:root {
    --primary: #1073BA;
    --secondary: #00DA55;
    --gray: #3B3B3B;
    --withe: #FFFFFF;
    --black: #1F1E1E;
    --lightGray: #E1E1E1;

    --separation: 5rem;

    --primaryFont: 'Roboto', sans-serif;
    --secondaryFont: 'Lato', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--primaryFont);
    font-size: 1.6rem;
    line-height: 1.5;
}

/** Globals **/

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: 900;
    font-family: var(--secondaryFont);
    margin: calc(var(--separation) / 2) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h1 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/** Utilities **/

.text-center {
    text-align: center;
}

/** Degradeds **/
.green-degraded {
    color: transparent;
    background: linear-gradient(to right, var(--primary) 0%, var(--secondary) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

/** Header **/

.header {
    background-color: var(--black);
    padding: calc(var(--separation) * 3) 0;
    color: var(--withe);
}

@media (min-width: 768px) {
    .header-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.header-text {
    text-align: center;
    padding-top: var(--separation);
}

@media (min-width: 768px){
    .header-text {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
}

.header-text p {
    margin: 0;
}

.product-tagline {
    font-size: 3rem;
    font-weight: 900;
}

.product-name {
    font-size: 6rem;
    margin: 0;
}

@media(min-width: 768px) {
    .product-name {
        font-size: 10rem;
        line-height: 1;
    }
}

.product-price span{
    font-size: 6rem;
    font-weight: 900;
}

/**Icons section**/

.section {
    margin: var(--separation) 0;
}

@media (min-width: 768px) {
    .section-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: var(--separation);
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content h3 {
    color: var(--primary);
    text-transform: uppercase;
}

.content img {
    width: var(--separation);
}

.content p {
    text-align: justify;
}


